#hex {
    position: fixed;
    left:0px;
    top:0px;
    width: 115px;
}
#brush {
    position: fixed;
    left:120px;
    top:0px;
    width: 115px;
}
#red {
    position: fixed;
    left:0px;
    top:25px;
    background-color: #FF0000;
}
#green {
    position: fixed;
    left:0px;
    top:50px;
    background-color: #00FF00;
}
#blue {
    position: fixed;
    left:0px;
    top:75px;
    background-color: #0000FF;
    color: white;
}
#yellow {
    position: fixed;
    left:0px;
    top:100px;
    background-color: #FFFF00;
}
#orange {
    position: fixed;
    left:0px;
    top:125px;
    background-color: #FF8800;
    color: white;
}
#purple {
    position: fixed;
    left:0px;
    top:150px;
    background-color: #BB00FF;
    color: white;
}
#black {
    position: fixed;
    left:0px;
    top:175px;
    background-color: black;
    color: white;
}
#gray {
    position: fixed;
    left:0px;
    top:200px;
    background-color: #333;
    color: white;
}
#gray2 {
    position: fixed;
    left:0px;
    top:225px;
    background-color: #666;
    color: black;
}
#white {
    position: fixed;
    left:0px;
    top:250px;
    background-color: white;
    color: black;
}
body {
    background-color: grey;
}
#drawcanvas {
    display:block;
    background-color: white;
    width: 1000px;
    height: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
#title {
    display: block;
    position: fixed;
    top: -20px;
    margin-left: 540px;
    font-family: "Comic Sans MS Bold" , "Comic Sans", cursive;
    font-size: 19pt;
    font-weight: bolder;
    background-color: white;

}
#chatinput {
    display: block;
    position: fixed;
    margin-left: auto;
    margin-top: auto;
    right: 70px;
    bottom: 15px;
    width: 180px;
}
#chat {
    display: block;
    position: fixed;
    right: 20px;
    bottom: 25px;
    width: 225px;
    height: 600px;
    list-style: none;
    background-color: white;
    padding-left: 5px;
    text-align: left;
    overflow-wrap: break-word;
    overflow-y: scroll;
}
#chatsubmit {
    position: fixed;
    right:20px;
    bottom: 15px;
    background-color: white;
    color: black;
}
#word {
    position: fixed;
    left:20px;
    bottom:15px;
    background-color: white;
    color: black;   
}
.colorButton {
    position: fixed;
  }