#hex {
    position: fixed;
    left:0;
    top:0;
    width: 115;
}
#brush {
    position: fixed;
    left:120;
    top:0;
    width: 115;
}
#red {
    position: fixed;
    left:0;
    top:25;
    background-color: #FF0000;
}
#green {
    position: fixed;
    left:0;
    top:50;
    background-color: #00FF00;
}
#blue {
    position: fixed;
    left:0;
    top:75;
    background-color: #0000FF;
    color: white;
}
#yellow {
    position: fixed;
    left:0;
    top:100;
    background-color: #FFFF00;
}
#orange {
    position: fixed;
    left:0;
    top:125;
    background-color: #FF8800;
    color: white;
}
#purple {
    position: fixed;
    left:0;
    top:150;
    background-color: #BB00FF;
    color: white;
}
#black {
    position: fixed;
    left:0;
    top:175;
    background-color: black;
    color: white;
}
#gray {
    position: fixed;
    left:0;
    top:200;
    background-color: #333;
    color: white;
}
#gray2 {
    position: fixed;
    left:0;
    top:225;
    background-color: #666;
    color: black;
}
#white {
    position: fixed;
    left:0;
    top:250;
    background-color: white;
    color: black;
}
body {
    background-color: grey;
}
#drawcanvas {
    display:block;
    background-color: white;
    width: 1000px;
    height: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50;
}
#title {
    display: block;
    position: fixed;
    margin-left: 650;
    margin-top: -720;
    font-family: "Comic Sans MS Bold" , "Comic Sans", cursive;
    font-size: 21;
    font-weight: bolder;
    background-color: white;
}
#chatinput {
    display: block;
    position: fixed;
    margin-left: auto;
    margin-top: auto;
    right: 70;
    bottom: 15;
    width: 180;
}
#chat {
    display: block;
    position: fixed;
    right: 20;
    bottom: 25;
    width: 225;
    height: 600;
    list-style: none;
    background-color: white;
    padding-left: 5;
}
#chatsubmit {
    position: fixed;
    right:20;
    bottom: 15;
    background-color: white;
    color: black;
}
#username {
    display: block;
    position: fixed;
    margin-left: auto;
    margin-top: auto;
    right: 70;
    bottom: 645;
    width: 180;
}
.colorButton {
    position: fixed;
  }