<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <meta charset="utf-8">
        <link href="/static/drawstyle.css" rel="stylesheet">
        <title>
            Online Pictionary
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <input id="hex" placeholder="Enter Hex Code"></input>
    <input id="brush" placeholder="Brush Width" type="number" min="1" max="100"></input>
    <input id ="chatinput" placeholder="Message" type="text"></input>
    <canvas id="drawcanvas"></canvas>
    <p id="title"></p>
    
    <ul id="chat">
        <li>Chat Messages Will Appear Here</li>
    </ul>

    <button id="chatsubmit" type="button" onclick="chatsubmit()" class="btn-primary">Send</button>
    <button id="red" type="button" onclick="changecolor('red')" class="btn-primary" color="#F00">Red</button>
    <button id="green" type="button" onclick="changecolor('green')" class="btn-primary" color="#F00">Green</button>
    <button id="blue" type="button" onclick="changecolor('blue')" class="btn-primary" color="#F00">Blue</button>
    <button id="yellow" type="button" onclick="changecolor('yellow')" class="btn-primary" color="#F00">Yellow</button>
    <button id="orange" type="button" onclick="changecolor('orange')" class="btn-primary" color="#F00">Orange</button>
    <button id="purple" type="button" onclick="changecolor('purple')" class="btn-primary" color="#F00">Purple</button>
    <button id="black" type="button" onclick="changecolor('black')" class="btn-primary" color="#F00">Black</button>
    <button id="gray" type="button" onclick="changecolor('gray')" class="btn-primary" color="#F00">Gray</button>
    <button id="gray2" type="button" onclick="changecolor('gray2')" class="btn-primary" color="#F00">Light Gray</button>
    <button id="white" type="button" onclick="changecolor('white')" class="btn-primary" color="#F00">White</button>
    
    <button id = "word" type="button" onclick="changeWord()">New Word</button>
    
    <script src= "/static/gameapp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>