<html lang="en">
    <head>
        <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <meta charset="utf-8">
        <link href="/static/loginstyle.css" rel="stylesheet">
        <script src= "/static/loginapp.js"></script>
        <title>
            Online Pictionary
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    
    <p id="title">Welcome To Pictionary</p>
    <p2 id="title2">Please Login</p2>

    <input id = "username" placeholder="Username" type="text"></input>

    <button id="sumbit" type="button" onclick="namesubmit()">Save</button>

    <button id="room1" type="menu" onclick="room1()">Room1</button>
    <button id="room2" type="menu" onclick="room2()">Room2</button>
    <button id="room3" type="menu" onclick="room3()">Room3</button>
    <button id="room4" type="menu" onclick="room4()">Room4</button>
    <button id="room5" type="menu" onclick="room5()">Room5</button>
    <button id="join" type="button" onclick="join()">Join</button>

</html>